Xcursor.theme: whiteglass

Emacs*font:Droid Sans Mono:style=Regular:pixelsize=12

#define FONT xft:Dejavu Sans Mono:pixelsize=12

#include "/home/pluc/conf/look-zenburn.xrdb"
! #include "/home/pluc/conf/look-solarized.xrdb"
#include "/home/pluc/conf/urxvt.xrdb"
